repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: debug-statements
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: "25.11.0"
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.14.7'
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: "v1.6.1"
  #   hooks:
  #     - id: mypy
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0
    hooks:
      - id: markdownlint-fix
        args: ["--ignore", "docs/component-library.md", "--disable", "MD013", "MD033", "--"]