on: [release]

jobs:
  test:
    uses: ./.github/workflows/ci.yml

  build-wheel:
    needs: test
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Build sdist
        run: |
          python -m pip install --upgrade build
          python -m build

      - uses: actions/upload-artifact@v5
        with:
          path: dist/wsimod*

      - uses: softprops/action-gh-release@v2
        with:
          files: dist/wsimod*

  publish-PyPI:
    needs: build-wheel
    name: Publish WSIMOD to PyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
      - name: Download sdist artifact
        uses: actions/download-artifact@v6
        with:
          name: artifact
          path: dist

      - name: Display structure of downloaded files
        run: ls -R dist

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1

  publish-docs:
    needs: publish-PyPI
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      
      - name: Install Pandoc
        run: sudo apt-get update && sudo apt-get install -y pandoc

      - name: Install dependencies
        run: pip install .[doc]

      - name: Deploy Docs
        run: mkdocs gh-deploy --force

  publish-DAFNI:
    needs: publish-docs
    name: Publish WSIMOD to DAFNI
    runs-on: ubuntu-latest
    env:
      VERSION: ${{ github.event.release.tag_name }}
      DAFNI_USERNAME: ${{ secrets.DAFNI_USERNAME }}
      DAFNI_PASSWORD: ${{ secrets.DAFNI_PASSWORD }}
      PARENT_ID: ${{ vars.PARENT_ID }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6

      - name: Create Docker image
        run: |
          docker build -t wsimod:$VERSION .
          docker save -o wsimod.tar.gz wsimod:$VERSION

      - name: Install DAFNI API
        run: python -m pip install dafni-cli

      - name: Log in to DAFNI
        run: dafni login

      - name: Upload updated model
        run: dafni upload model model_file.yaml wsimod.tar.gz --parent-id $PARENT_ID -m "v$VERSION, see release notes." --yes